In [107]:
import vk_api
import pandas as pd
import datetime
from tqdm import tqdm
import numpy as np

In [54]:
user_info = pd.read_csv('data/vk/user_info.csv')

wall_comments = pd.read_csv('data/vk/wall-comments.csv')

wall_likes_and_reposts = pd.read_csv('data/vk/wall-likes-and-reposts.csv')
wall_likes_and_reposts.drop('Unnamed: 0', axis = 1, inplace = True)

wall = pd.read_csv('data/vk/wall.csv')

In [21]:
wall_comments.head()

,Unnamed: 0,post_id,comment_id,user_id,date,likes,text
0,0,698,699,375376551,1480408965,1,"Так и задумано, что все ссылки битые?"
1,1,698,700,336340028,1480414409,0,"[id375376551|Juli], спасибо за информацию, на ..."
2,2,698,701,375376551,1480416213,0,"[id336340028|Сергей], спасибо, теперь вроде от..."
3,3,725,726,173458547,1481357005,1,"Будьте проще, если что то не получается, жизнь..."
4,4,725,727,173458547,1481357246,0,"Записывайте свои цели и подробный план, что бы..."

In [82]:
wall_comments_gr = wall_comments.groupby(['user_id', 'post_id'], as_index = False)['likes'].mean()[['user_id', 'post_id']]
wall_comments_gr['comment'] = 1
wall_comments_gr.head()

     user_id  post_id  comment
0 -108367462      266        1
1 -108367462      273        1
2 -108367462      294        1
3 -108367462      295        1
4 -108367462      340        1

In [83]:
wall_likes_and_reposts['like'] = 1

wall_likes_and_reposts.head()

   post_id    user_id  is_repost  like
0      698  119871102          0     1
1      698  190355493          0     1
2      698  145759099          0     1
3      698  242956477          0     1
4      698   98213622          0     1

In [86]:
coms_reps_likes = pd.merge(
    left = wall_comments_gr,
    right = wall_likes_and_reposts,
    how = 'outer',
    on = ['user_id', 'post_id']
)

coms_reps_likes.head()

     user_id  post_id  comment  is_repost  like
0 -108367462      266      1.0        0.0   0.0
1 -108367462      273      1.0        0.0   0.0
2 -108367462      294      1.0        0.0   0.0
3 -108367462      295      1.0        0.0   0.0
4 -108367462      340      1.0        0.0   0.0

In [95]:
import itertools

post_id = list(set(wall['post_id']))
user_id = list(set(user_info['user_id']))

all_pairs = []

for i in itertools.product(user_id, post_id):
    all_pairs.append(i)
    
all_user_and_posts = pd.DataFrame(all_pairs)
all_user_and_posts.columns = ['user_id', 'post_id']
all_user_and_posts.head()

    user_id  post_id
0  36806656        1
1  36806656        3
2  36806656        4
3  36806656        7
4  36806656        8

In [125]:
total = pd.merge(
    left = all_user_and_posts,
    right = user_info,
    how = 'outer',
    on = 'user_id'
)

try:
    total.drop('Unnamed: 0', axis = 1, inplace = True)
except Exception:
    pass

total = pd.merge(
    left = total,
    right = coms_reps_likes,
    how = 'outer',
    on = ['user_id', 'post_id']
)

total['comment'].fillna(0, inplace = True)
total['is_repost'].fillna(0, inplace = True)
total['like'].fillna(0, inplace = True)

total['action'] = total[['comment','is_repost','like']].apply(np.max, axis = 1)

total.head()

,user_id,post_id,sex,years,relation,city,country,comment,is_repost,like,action
0,36806656,1,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0
1,36806656,3,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0
2,36806656,4,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0
3,36806656,7,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0
4,36806656,8,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0

In [138]:
post_id_commens_count = total.groupby(['post_id'], as_index = False)['comment'].sum()
post_id_is_repost_count = total.groupby(['post_id'], as_index = False)['is_repost'].sum()
post_id_like_count = total.groupby(['post_id'], as_index = False)['like'].sum()
post_id_action_count = total.groupby(['post_id'], as_index = False)['action'].sum()

for i in (post_id_is_repost_count, post_id_like_count, post_id_action_count):
    post_id_commens_count = post_id_commens_count.merge(i, how = 'outer', on = 'post_id')

post_id_commens_count.columns = ['post_id', 'post_comm_count', 'post_repost_count', 'post_like_count','post_action_count']
post_id_commens_count.head()

,post_id,post_comm_count,post_repost_count,post_like_count,post_action_count
0,1,0.0,2.0,5.0,5.0
1,3,0.0,2.0,5.0,5.0
2,4,0.0,1.0,4.0,4.0
3,7,0.0,1.0,4.0,4.0
4,8,0.0,2.0,6.0,6.0

In [164]:
final = total.merge(post_id_commens_count, how = 'outer', on = 'post_id')

final.drop('city', axis = 1, inplace = True)
final.drop('relation', axis = 1, inplace = True)

In [166]:
final.head()

,user_id,post_id,sex,years,relation,city,country,comment,is_repost,like,action,post_comm_count,post_repost_count,post_like_count,post_action_count
0,36806656,1,1.0,32.812629,NaN,Омск,Россия,0.0,0.0,0.0,0.0,0.0,2.0,5.0,5.0
1,32391169,1,1.0,NaN,NaN,NaN,Россия,0.0,0.0,0.0,0.0,0.0,2.0,5.0,5.0
2,44539904,1,1.0,23.102265,2.0,Рязань,Россия,0.0,0.0,0.0,0.0,0.0,2.0,5.0,5.0
3,67485699,1,1.0,NaN,NaN,NaN,Россия,0.0,0.0,0.0,0.0,0.0,2.0,5.0,5.0
4,352878594,1,1.0,21.916266,0.0,Ижевск,Россия,0.0,0.0,0.0,0.0,0.0,2.0,5.0,5.0

In [167]:
final.loc[~final['country'].isin(['Россия', 'Украина', 'Казахстан']), 'country'] = None

In [168]:
final = pd.get_dummies(final, columns = ['country'])
final = pd.get_dummies(final, columns = ['sex'])

In [177]:
final = final[['user_id', 'post_id', 'sex_1.0', 'sex_2.0', 'years', 'country_Казахстан', 'country_Россия', 'country_Украина', 
              'post_comm_count','post_repost_count','post_like_count','post_action_count', 'comment','is_repost','like','action']]
final.head()

,user_id,post_id,sex_1.0,sex_2.0,years,country_Казахстан,country_Россия,country_Украина,post_comm_count,post_repost_count,post_like_count,post_action_count,comment,is_repost,like,action
0,36806656,1,1,0,32.812629,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
1,32391169,1,1,0,NaN,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
2,44539904,1,1,0,23.102265,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
3,67485699,1,1,0,NaN,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
4,352878594,1,1,0,21.916266,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0

In [162]:
len(all_user_and_posts)

1584521

In [178]:
final.to_csv('data/vk/soc-dem_and_labels.csv')

,Unnamed: 0,user_id,post_id,sex_1.0,sex_2.0,years,country_Казахстан,country_Россия,country_Украина,post_comm_count,post_repost_count,post_like_count,post_action_count,comment,is_repost,like,action
0,0,36806656,1,1,0,32.812629,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
1,1,32391169,1,1,0,NaN,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
2,2,44539904,1,1,0,23.102265,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
3,3,67485699,1,1,0,NaN,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0
4,4,352878594,1,1,0,21.916266,0,1,0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,0.0