In [2]:
import vk_api
import pandas as pd
import datetime
from tqdm import tqdm

In [3]:
vk_session = vk_api.VkApi(token='')

In [4]:
vk = vk_session.get_api()

In [5]:
# group_members список пользователей, состоящих в группе:
tools = vk_api.VkTools(vk_session)
group_members_id = tools.get_all('groups.getMembers', 1000, {'group_id': 108367462})
group_members_id = group_members_id['items']
print(len(group_members_id))

3531

In [16]:
# Информация о пользователях:

all_dict_of_users = []
for user_id in tqdm(group_members_id):

    
    try:
        dict_of_users = vk.users.get(user_id=user_id, order='hints', 
                             fields=['sex, bdate, city, country, education, universities, schools, relation'])
        all_dict_of_users.extend(dict_of_users)
    except Exception:
        continue

list_for_df = []
for k in all_dict_of_users:
    list_ = []

    try:
        list_.append(k['id'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['sex'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['bdate'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['relation'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['city']['title'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['country']['title'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['schools'][0]['year_graduated'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['universities'][0]['chair_name'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['universities'][0]['faculty_name'])
    except Exception:
        list_.append(None)
    try:
        list_.append(k['universities'][0]['graduation'])
    except Exception:
        list_.append(None)
    list_for_df.append(list_)

user_info = pd.DataFrame(list_for_df)
user_info.columns = ['user_id', 'sex', 'birthday', 'relation', 'city', 'country',
                                'school_year_graduated', 'universities_chair_name', 
                                'universities_faculty_name', 'universities_graduation']

100%|██████████| 3531/3531 [25:29<00:00,  2.39it/s]

In [18]:
user_info['today'] = '11.12.2016'

In [19]:
user_info

,user_id,sex,birthday,relation,city,country,school_year_graduated,universities_chair_name,universities_faculty_name,universities_graduation,today
0,33186,1,8.3.1989,NaN,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
1,36415,2,19.2,NaN,Ставрополь,Россия,NaN,None,None,NaN,11.12.2016
2,37259,1,11.4,NaN,Москва,Россия,NaN,None,None,NaN,11.12.2016
3,63923,1,8.8,0.0,Санкт-Петербург,Россия,NaN,Экономической кибернетики\r\n,Экономический факультет,NaN,11.12.2016
4,71914,2,15.1.1980,NaN,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
5,160308,1,9.1,NaN,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
6,202190,1,19.12,7.0,Казань,Россия,NaN,Психология личности,Психологии,NaN,11.12.2016
7,225365,2,9.3,NaN,None,None,NaN,None,None,NaN,11.12.2016
8,235404,1,29.9.1984,NaN,Архангельск,Россия,NaN,None,None,NaN,11.12.2016
9,236711,2,7.6,0.0,Москва,Россия,NaN,Информационные системы и технологии,Институт кибернетики,2008.0,11.12.2016
10,256110,1,13.11.1988,NaN,Казань,Россия,NaN,None,None,NaN,11.12.2016
11,269126,1,16.1,0.0,Белгород,Россия,NaN,Мировая экономика,Институт экономики,NaN,11.12.2016
12,280926,2,None,NaN,Коряжма,Россия,NaN,None,None,NaN,11.12.2016
13,281782,2,None,4.0,Москва,Россия,NaN,Информационно-консультационных технологий,Экономический факультет,2009.0,11.12.2016
14,304252,2,16.1.1988,NaN,Москва,Россия,NaN,None,None,NaN,11.12.2016
15,369818,1,10.12.1987,NaN,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
16,382491,1,17.3,NaN,Иваново,Россия,NaN,None,None,NaN,11.12.2016
17,417914,1,14.7.1984,NaN,Костомукша,Россия,NaN,None,None,NaN,11.12.2016
18,423598,1,6.5,NaN,Екатеринбург,Россия,NaN,None,None,NaN,11.12.2016
19,455548,1,31.3,4.0,Санкт-Петербург,Россия,1996.0,Связи с общественностью,Факультет заочного образования,2003.0,11.12.2016
20,467709,1,22.7,4.0,None,Россия,NaN,Менеджмента,Сибирско-американский,NaN,11.12.2016
21,478070,1,16.4,NaN,None,Россия,NaN,None,None,NaN,11.12.2016
22,506753,1,11.9,NaN,Чебоксары,Россия,NaN,None,None,NaN,11.12.2016
23,518934,2,4.1.1986,NaN,Павлово,Россия,NaN,None,None,NaN,11.12.2016
24,531359,1,None,0.0,Санкт-Петербург,Россия,2001.0,Прикладной экономики и маркетинга,Факультет технологического менеджмента и иннов...,2006.0,11.12.2016
25,569663,1,25.4,7.0,Уфа,Россия,2004.0,None,Маркетинга и рекламы,2013.0,11.12.2016
26,571574,1,20.9,NaN,Сочи,Россия,NaN,None,None,NaN,11.12.2016
27,594540,1,7.2,NaN,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
28,604396,1,25.8,NaN,None,None,NaN,None,None,NaN,11.12.2016
29,609579,2,None,NaN,Москва,Россия,NaN,None,None,NaN,11.12.2016
...,...,...,...,...,...,...,...,...,...,...,...
3499,378667585,1,10.4,0.0,Оренбург,Россия,NaN,None,None,NaN,11.12.2016
3500,379181956,2,31.7.1994,0.0,None,Россия,NaN,None,None,NaN,11.12.2016
3501,379323784,1,None,NaN,None,None,NaN,None,None,NaN,11.12.2016
3502,379691051,1,None,NaN,None,None,NaN,None,None,NaN,11.12.2016
3503,380514454,1,1.1.2000,NaN,None,None,NaN,None,None,NaN,11.12.2016
3504,382625879,2,None,NaN,None,None,NaN,None,None,NaN,11.12.2016
3505,382669941,1,22.8.2000,0.0,None,None,NaN,None,None,NaN,11.12.2016
3506,384316164,1,29.9,NaN,Омск,Россия,NaN,None,None,NaN,11.12.2016
3507,384620405,1,30.3,0.0,None,Россия,NaN,None,None,NaN,11.12.2016
3508,385165162,1,18.12.1975,0.0,Нижний Новгород,Россия,NaN,None,None,NaN,11.12.2016
3509,385392337,2,None,0.0,Ростов-на-Дону,Россия,NaN,None,None,NaN,11.12.2016
3510,386933096,1,None,NaN,None,None,NaN,None,None,NaN,11.12.2016
3511,387124384,2,None,1.0,Москва,Россия,NaN,None,None,NaN,11.12.2016
3512,388407137,2,None,0.0,None,None,NaN,None,None,NaN,11.12.2016
3513,388509469,1,6.8,0.0,Красноярск,Россия,NaN,None,None,NaN,11.12.2016
3514,389004570,1,8.6.1995,0.0,None,Россия,NaN,None,None,NaN,11.12.2016
3515,390213005,1,3.10.1990,NaN,None,None,NaN,None,None,NaN,11.12.2016
3516,390678550,1,1.6.1992,0.0,None,None,NaN,None,None,NaN,11.12.2016
3517,391962226,1,17.3,4.0,Омск,Россия,NaN,None,None,NaN,11.12.2016
3518,392272939,1,15.1.1974,0.0,None,None,NaN,None,None,NaN,11.12.2016
3519,392391575,1,18.9,0.0,None,None,NaN,None,None,NaN,11.12.2016
3520,392578369,1,27.5.1984,6.0,Санкт-Петербург,Россия,NaN,None,None,NaN,11.12.2016
3521,392828111,1,1.5.1991,0.0,None,None,NaN,None,None,NaN,11.12.2016
3522,393059479,1,None,NaN,None,None,NaN,None,None,NaN,11.12.2016
3523,394614283,1,31.1.1955,0.0,None,None,NaN,None,None,NaN,11.12.2016
3524,395273985,1,5.7.1997,0.0,None,None,NaN,None,None,NaN,11.12.2016
3525,396984994,2,23.7.1990,NaN,None,None,NaN,None,None,NaN,11.12.2016
3526,397350723,1,None,0.0,None,None,NaN,None,None,NaN,11.12.2016
3527,398022126,2,20.5,6.0,Мирный,Россия,NaN,None,None,NaN,11.12.2016
3528,399720460,2,7.1,0.0,Саранск,Россия,NaN,None,Аграрный институт,NaN,11.12.2016

In [95]:
my_df = user_info.copy()

for i, row in my_df[my_df['birthday'].notnull()].iterrows():
    if len(row['birthday']) <= 5:
        my_df.loc[i, 'birthday'] = None
        
my_df['birthday'] = pd.to_datetime(my_df['birthday'], format = '%d.%m.%Y')
my_df['today'] = pd.to_datetime(my_df['today'], format = '%d.%m.%Y')
my_df['years'] = my_df['today'] - my_df['birthday']

def get_years(x):
    try: 
        return x.days/364.25
    except:
        return x
    
my_df['years'] = my_df['years'].apply(get_years)


for i, row in my_df[my_df['birthday'].notnull() == False].iterrows():
    if (row['birthday'] is None) & (row['school_year_graduated'] is not None):
        my_df.loc[i, 'birthday'] = 17 - (my_df.loc[i, 'school_year_graduated'] - 2016)
        
for i, row in my_df[my_df['birthday'].notnull() == False].iterrows():
    if (row['birthday'] is None) & (row['universities_graduation'] is not None):
        my_df.loc[i, 'birthday'] = 22 - (my_df.loc[i, 'universities_graduation'] - 2016)

In [97]:
my_df = my_df[['user_id', 'sex', 'years', 'relation', 'city', 'country']]
my_df

        user_id  sex    years  relation             city country
0         33186    1   27.838       NaN  Санкт-Петербург  Россия
1         36415    2      NaT       NaN       Ставрополь  Россия
2         37259    1      NaT       NaN           Москва  Россия
3         63923    1      NaT       0.0  Санкт-Петербург  Россия
4         71914    2  37.0075       NaN  Санкт-Петербург  Россия
5        160308    1      NaT       NaN  Санкт-Петербург  Россия
6        202190    1      NaT       7.0           Казань  Россия
7        225365    2      NaT       NaN             None    None
8        235404    1  32.2883       NaN      Архангельск  Россия
9        236711    2      NaT       0.0           Москва  Россия
10       256110    1  28.1537       NaN           Казань  Россия
11       269126    1      NaT       0.0         Белгород  Россия
12       280926    2      NaT       NaN          Коряжма  Россия
13       281782    2      NaT       4.0           Москва  Россия
14       304252    2  28.9828       NaN           Москва  Россия
15       369818    1  29.0844       NaN  Санкт-Петербург  Россия
16       382491    1      NaT       NaN          Иваново  Россия
17       417914    1  32.4997       NaN       Костомукша  Россия
18       423598    1      NaT       NaN     Екатеринбург  Россия
19       455548    1      NaT       4.0  Санкт-Петербург  Россия
20       467709    1      NaT       4.0             None  Россия
21       478070    1      NaT       NaN             None  Россия
22       506753    1      NaT       NaN        Чебоксары  Россия
23       518934    2  31.0199       NaN          Павлово  Россия
24       531359    1      NaT       0.0  Санкт-Петербург  Россия
25       569663    1      NaT       7.0              Уфа  Россия
26       571574    1      NaT       NaN             Сочи  Россия
27       594540    1      NaT       NaN  Санкт-Петербург  Россия
28       604396    1      NaT       NaN             None    None
29       609579    2      NaT       NaN           Москва  Россия
...         ...  ...      ...       ...              ...     ...
3499  378667585    1      NaT       0.0         Оренбург  Россия
3500  379181956    2  22.4269       0.0             None  Россия
3501  379323784    1      NaT       NaN             None    None
3502  379691051    1      NaT       NaN             None    None
3503  380514454    1  16.9911       NaN             None    None
3504  382625879    2      NaT       NaN             None    None
3505  382669941    1  16.3487       0.0             None    None
3506  384316164    1      NaT       NaN             Омск  Россия
3507  384620405    1      NaT       0.0             None  Россия
3508  385165162    1  41.0954       0.0  Нижний Новгород  Россия
3509  385392337    2      NaT       0.0   Ростов-на-Дону  Россия
3510  386933096    1      NaT       NaN             None    None
3511  387124384    2      NaT       1.0           Москва  Россия
3512  388407137    2      NaT       0.0             None    None
3513  388509469    1      NaT       0.0       Красноярск  Россия
3514  389004570    1  21.5704       0.0             None  Россия
3515  390213005    1  26.2622       NaN             None    None
3516  390678550    1  24.5957       0.0             None    None
3517  391962226    1      NaT       4.0             Омск  Россия
3518  392272939    1  43.0226       0.0             None    None
3519  392391575    1      NaT       0.0             None    None
3520  392578369    1  32.6314       6.0  Санкт-Петербург  Россия
3521  392828111    1  25.6857       0.0             None    None
3522  393059479    1      NaT       NaN             None    None
3523  394614283    1  62.0316       0.0             None    None
3524  395273985    1  19.4894       0.0             None    None
3525  396984994    2  26.4598       NaN             None    None
3526  397350723    1      NaT       0.0             None    None
3527  398022126    2      NaT       6.0           Мирный  Россия
3528  399720460    2      NaT       0.0          Саранск  Россия

[3529 rows x 6 columns]

In [99]:
my_df.to_csv('data/vk/user_info.csv')

In [11]:
# Максим:
user_and_frends_info.user_id.value_counts()

673666    2886
752811    2630
569663    2397
235404    1881
724244    1730
571574    1452
832925    1147
531359    1129
699388     889
281782     857
256110     746
236711     713
225365     712
33186      668
269126     653
801360     650
772153     642
518934     642
202190     570
37259      544
742366     509
827095     502
862735     478
63923      476
730935     437
506753     427
732809     413
36415      394
423598     365
417914     353
280926     331
676897     322
873519     294
657236     289
758217     276
604396     263
160308     263
369818     262
609579     231
594540     196
648320     184
467709     177
71914      169
652691     156
304252     150
455548     142
793260     133
812486     110
478070      88
382491      47
831156      45
Name: user_id, dtype: int64

In [14]:
user_and_frends_info.drop_duplicates().shape

(32020, 11)